.center {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.img-shadow {
  box-shadow: 15px 15px 0px 0px var(--primaryColor);
}

.line-burger {
  @apply block absolute h-1 w-full rounded-full opacity-100 left-0 transform rotate-0 transition ease-in-out duration-200  bg-gray-600;
}

#navbar button.active .line-burger:first-child {
  @apply transform rotate-45 top-0 left-1.5;
}
#navbar button.active .line-burger:nth-child(2) {
  @apply w-0 opacity-0;
}
#navbar button.active .line-burger:last-child {
  @apply transform -rotate-45 top-8 left-1.5;
}

.footer-list {
  @apply text-[var(--darkColor)];
}
