@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rajdhani";
  src: url("./assets/fonts/Rajdhani-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./assets/fonts/NunitoSans_7pt-Regular.ttf") format("truetype");
}

:root {
  --primaryColor: #e1b7ff;
  --primaryLight: #e1b7ffb3;
  --primaryDark: #b44dfe;
  --secondaryColor: #eaf3f5;
  --lightColor: #fdfdfd;
  --darkColor: #353535;
  --logoFont: "Poppins", sans-serif;
  --headingFont: "Rajdhani", sans-serif;
  --textFont: "Nunito Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--textFont);
  color: var(--darkColor);
  background-color: var(--lightColor);
}

h1,
h2,
h3,
h4 {
  line-height: 120%;
}

h1 {
  font-size: 2.5rem;
  font-family: var(--headingFont);
}

h2 {
  font-size: 2rem;
  font-family: var(--headingFont);
}

h3 {
  font-size: 1.5rem;
  font-family: var(--headingFont);
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  font-family: var(--headingFont);
  font-weight: 500;
}

header {
  width: 100%;
}

section {
  width: 100%;
  padding: 1rem;
}

footer {
  width: 100%;
  padding: 0.5rem 1rem;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 0.25rem;
}

button {
  height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-weight: 600;
  background-color: var(--primaryColor);
  border: none;
  transition: all ease 300ms;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--primaryDark);
  color: var(--lightColor);
}

a {
  color: var(--darkColor);
  text-decoration: none;
  transition: all ease 300ms;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  section {
    padding: 0.5rem 2rem;
  }

  footer {
    padding: 0.5rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  section {
    padding: 1rem 3rem;
  }

  footer {
    padding: 1rem 3rem;
  }
  button {
    height: 2.5rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  button,
  label,
  a {
    transition: none;
  }
}
